<!-- Header -->
<header id="header" class="alt">
  <h1><a href="/">GlucoseMonitor</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/history">Meals History</a></li>
            <li><a href="/prediction">Predictions</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/">Log Out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
