<!DOCTYPE HTML>
<html>
  <%- include('../partials/head') %>
  <%- include('../partials/header') %>

  <!-- Main -->
  <article id="main">
    <header>
      <h2>Personal Space</h2>
      <p>Please update your daily meals:</p>
    </header>
    <section class="wrapper style5">
      <div class="inner">
        <!-- Image Upload Form -->
        <h3>Upload a Picture of your meal</h3>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
          <label for="imageUpload" class="upload-square">
            <span>Click to upload</span>
          </label>
          <input type="file" id="imageUpload" name="image" accept="image/*" required style="display: none;">
        </form>
      </div>
    </section>
  </article>

  <%- include('../partials/footer') %>
</body>
</html>
